/* Tag */
h1 {
    color: #1E049F;
}

h2 {
    color: #584EF4;
}

h3 {
    color: #8570EF;
}

img {
    width: 100px;
    float: right;
    margin-right: 30%;
    margin-top: -15px;
}

header {
    background-color: #F8F479;
}

nav {
    border: 2px solid #1E049F;
    background-color: #F8F479;
}

a {
    margin: 1px 5%;
}

section {
    margin-bottom: 50px;
}

div {
    margin-bottom: 50px;
}

/* ID */
#BalanceNit {
    color: #048C02;
}

/* Clase */
.TitulosRes {
    color: #048C02;
}

.InfoCreadores {
    font-style: italic;
}

.TituloPrincipal {
    margin-left: 200px;
}

.Nombres {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* Pseudoclases */
a:link {
    color: #048C02;
}

a:visited {
    color: #048C02;
}

a:hover {
    color: #1204D7;
}

